<section class="container">
  <h1>Login</h1>

  <div class="wrapper col-sm-12 col-md-12">

  <div class="card">
    <div class="card-body">

      <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email"
            placeholder="Digite seu email" formControlName="email" data-test="input-email">
              <div class="msg__erro" *ngIf="loginForm.get('email')?.errors?.['required'] &&
                  loginForm.get('email')?.touched">
                  <p>Email obrigatório</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" aria-describedby="senha"
            placeholder="Digite sua senha" formControlName="password">
              <div class="msg__erro" *ngIf="loginForm.get('password')?.errors?.['required'] &&
                  loginForm.get('password')?.touched">
                  <p>Senha obrigatória</p>
            </div>
          </div>
          <div class="mb-3">
            <input type="checkbox" id="rememberEmail" name="rememberEmail" (change)="onChangeCheckbox($event)" />
            <label for="rememberEmail"> Lembrar e-mail?</label>
          </div>
          <div class="mb-3 custom-btn">
            <button type="submit" id="buttonLogin" class="btn btn-primary" [disabled]="this.loginForm.invalid"
            (click)="submitLogin()" data-test="login-button">Entrar</button>
            <span>Não possui conta?
              <button class="btn btn-outline-dark" (click)="navigateToRegister()">Registre-se aqui</button>
            </span>
          </div>
        </form>

    </div>
  </div>
  <div class="card custom-card">
    <div class="card-body">

    </div>
  </div>
</div>

</section>
