.msg__erro{
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.msg__erro p{
  margin-top: 2rem;
}

.wrapper{
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card{
  padding: 1rem;
  width: 49%;
  height: 300px;
}

.custom-card{
  background: linear-gradient(45deg,#0855A3, #142142);
  color: #fff;
  height: 300px;
}

.custom-btn{
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Smartphone */
@media(max-width: 450px){
  .wrapper{
      width: 99%;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: #e8e8e8;
  }

  .custom-card{
      width: 100%;
      margin-top: 0.4rem;
      word-wrap: break-word;
  }

  .card{
    width: 100%;
    margin-top: 0.4rem;
    word-wrap: break-word;
  }

  .custom-btn button{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #142142;
    font-weight: 600;
    word-wrap: break-word;
  }

  .custom-btn span{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #142142;
    word-wrap: break-word;
  }

}


/* Tablets */
@media(min-width: 451px) and (max-width: 990px){
  body{
      height: 100vh;
      width: 100vw;
      background-image: linear-gradient(200deg,magenta,purple,orange);
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .wrapper{
    width: 99%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #e8e8e8;
}

.custom-card{
    width: 100%;
    margin-top: 0.4rem;
    word-wrap: break-word;
}

.card{
  width: 100%;
  margin-top: 0.4rem;
  word-wrap: break-word;
}

.custom-btn button{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #142142;
  font-weight: 600;
  word-wrap: break-word;
}

.custom-btn span{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #142142;
  word-wrap: break-word;
}

}
