<section class="container">
  <h1>Register</h1>

  <div class="card">
    <div class="card-body">

      <form [formGroup]="registerForm">
        <div class="row mb-2">
          <div class="col-md-6">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name">
            <div class="msg__erro" *ngIf="registerForm.get('name')?.errors?.['required'] &&
                  registerForm.get('name')?.touched">
                  <p>Nome obrigatório</p>
            </div>
          </div>
          <div class="col-md-6">
            <label for="lastname" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" formControlName="lastname">
            <div class="msg__erro" *ngIf="registerForm.get('lastname')?.errors?.['required'] &&
                  registerForm.get('lastname')?.touched">
                  <p>Sobrenome obrigatório</p>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="msg__erro" *ngIf="registerForm.get('email')?.errors?.['required'] &&
                  registerForm.get('email')?.touched">
                  <p>Email obrigatório</p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
        </div>

        <div class="row mb-3 align-items-center">

          <div class="col-md-6 mb-2">
              <select class="form-select" aria-label="Escolha a escolaridade" formControlName="education">
                <option *ngFor="let val of education" [value]="val">{{val}}</option>
              </select>
          </div>

          <div class="col-md-6" >
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" value="fem">
              <label class="form-check-label" for="gender">feminino</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" value="masc">
              <label class="form-check-label" for="gender">masculino</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" value="outro">
              <label class="form-check-label" for="gender">outro</label>
            </div>
          </div>

        </div>

        <div class="row mb-3 align-items-center">
          <div class="col-md-6">
            <label class="form-label" for="startDate">Data de Admissão (MM/DD/YYYY) </label>
            <input class="form-control mb-3" type="date" formControlName="startDate" value="2024-08-29" />
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary form-control" [disabled]="this.registerForm.invalid || isSubmitting" (click)="submitRegister()">Cadastrar</button>
          </div>
        </div>


      </form>

    </div>
  </div>
</section>
